@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChainerWeb.com</h1>
    <p class="lead">on ASP.NET ???</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Is it real? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tut huyna</h2>
        <p>
            Chainer is a good boy!
            Chainer is a good boy!
            Chainer is a good boy!
            Chainer is a good boy!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
        <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

        <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             version="1.1"
             id="Layer_1"
             x="0px"
             y="0px"
             viewBox="0 0 182.6 222.9"
             style="enable-background:new 0 0 182.6 222.9;"
             xml:space="preserve"
             sodipodi:docname="ChainerTech.svg"
             inkscape:version="0.92.3 (2405546, 2018-03-11)"><metadata id="metadata4013"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs id="defs4011" /><sodipodi:namedview pagecolor="#ffffff"
                                                                                                                                                                                                                                                                                                                           bordercolor="#666666"
                                                                                                                                                                                                                                                                                                                           borderopacity="1"
                                                                                                                                                                                                                                                                                                                           objecttolerance="10"
                                                                                                                                                                                                                                                                                                                           gridtolerance="10"
                                                                                                                                                                                                                                                                                                                           guidetolerance="10"
                                                                                                                                                                                                                                                                                                                           inkscape:pageopacity="0"
                                                                                                                                                                                                                                                                                                                           inkscape:pageshadow="2"
                                                                                                                                                                                                                                                                                                                           inkscape:window-width="1920"
                                                                                                                                                                                                                                                                                                                           inkscape:window-height="1017"
                                                                                                                                                                                                                                                                                                                           id="namedview4009"
                                                                                                                                                                                                                                                                                                                           showgrid="false"
                                                                                                                                                                                                                                                                                                                           inkscape:zoom="3.8043967"
                                                                                                                                                                                                                                                                                                                           inkscape:cx="218.43663"
                                                                                                                                                                                                                                                                                                                           inkscape:cy="103.93185"
                                                                                                                                                                                                                                                                                                                           inkscape:window-x="-8"
                                                                                                                                                                                                                                                                                                                           inkscape:window-y="-8"
                                                                                                                                                                                                                                                                                                                           inkscape:window-maximized="1"
                                                                                                                                                                                                                                                                                                                           inkscape:current-layer="g4006" />

<style type="text/css"
       id="style3864">
    .st0 {
        fill: #8F572B;
    }

    .st1 {
        fill: #F69322;
    }

    .st2 {
        fill: #BB9268;
    }

    .st3 {
        fill: #030305;
    }

    .st4 {
        fill: #D4A67B;
    }

    .st5 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .st6 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 9.844459e-02,2.9533;
    }

    .st7 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 9.810104e-02,2.943;
    }

    .st8 {
        fill: #FFFFFF;
    }

    .st9 {
        fill: #ED1C24;
    }
</style>
<g id="g4006">
        <path class="st0"
              d="M100.4,80.9c-0.6-0.6-1.2-1.1-1.8-1.5c3.6,5.1,3.1,12.1-1.5,16.6l-61.5,60.9c-2.5,2.5-5.8,3.7-9.1,3.7   c-2.6,0-5.2-0.8-7.4-2.3c0.4,0.6,0.9,1.2,1.4,1.7c2.5,2.6,5.9,3.8,9.2,3.8c3.3,0,6.6-1.2,9.1-3.7l61.5-60.9   C105.4,94.1,105.5,85.9,100.4,80.9z"
              id="path3866" />

        <g id="g3882">
        <path d="M114.6,185.4l-4.5-25.1l-53.7-53.2l0,0L38.5,89.5c-2.8-2.8-7.3-2.7-10,0c-2.8,2.8-2.7,7.3,0,10l17.8,17.6l0,0l53.7,53.2    L114.6,185.4z"
              id="path3868" />

        <polygon class="st1"
                 points="109.6,170.3 111.5,179.4 52.1,120.2 55.6,116.7   "
                 id="polygon3870" />

        <path class="st1"
              d="M31.1,99.6l7.8-7.9c0.3-0.3,1-0.2,1.5,0.4c0.5,0.5,0.7,1.2,0.4,1.5l-7.8,7.9c-0.3,0.3-1,0.2-1.5-0.4    C30.9,100.6,30.7,99.9,31.1,99.6z"
              id="path3872" />

        <path class="st1"
              d="M34.4,103l7.8-7.9c0.3-0.3,1-0.2,1.5,0.4c0.5,0.5,0.7,1.2,0.4,1.5l-7.8,7.9c-0.3,0.3-1,0.2-1.5-0.4    C34.3,104,34.1,103.3,34.4,103z"
              id="path3874" />

        <path class="st1"
              d="M37.8,106.3l7.8-7.9c0.3-0.3,1-0.2,1.5,0.4c0.5,0.5,0.7,1.2,0.4,1.5l-7.8,7.9c-0.3,0.3-1,0.2-1.5-0.4    C37.6,107.3,37.5,106.6,37.8,106.3z"
              id="path3876" />

        <path class="st1"
              d="M41.2,109.6l7.8-7.9c0.3-0.3,1-0.2,1.5,0.4c0.5,0.5,0.7,1.2,0.4,1.5l-7.8,7.9c-0.3,0.3-1,0.2-1.5-0.4    S40.8,110,41.2,109.6z"
              id="path3878" />

        <path class="st1"
              d="M44.5,113l7.8-7.9c0.3-0.3,1-0.2,1.5,0.4c0.5,0.5,0.7,1.2,0.4,1.5l-7.8,7.9c-0.3,0.3-1,0.2-1.5-0.4    C44.4,114,44.2,113.3,44.5,113z"
              id="path3880" />

	</g>
        <g id="g3886">
        <path class="st0"
              d="M122.2,155.9c0,13.3-5.4,14.6-19.9,14.6H79.8c-14.5,0-17.4,0.6-17.4-12.7L54,115.4c-0.3,1.4-0.4,2.8-0.4,4.3    l8.8,44.6c0,13.3,2.9,12.7,17.4,12.7h22.5c14.5,0,19.9-1.3,19.9-14.6l6.4-42.7c0-1.4-0.1-2.7-0.4-4L122.2,155.9z"
              id="path3884" />

	</g>
        <g id="g3890">
        <path class="st0"
              d="M139,185.8l-18.7-72.4c-2-7.8-9.7-12.7-17.6-11.3c5.8,1,10.7,5.3,12.3,11.3l18.7,72.4    c2.1,8.2-2.8,16.7-11.1,18.8c-0.4,0.1-0.8,0.2-1.2,0.3c0.9,0.2,1.8,0.2,2.7,0.2c1.3,0,2.6-0.2,3.9-0.5    C136.2,202.5,141.1,194.1,139,185.8z"
              id="path3888" />

	</g>
        <path class="st2"
              d="M133.7,185.8L115,113.4c-1.6-6-6.5-10.3-12.3-11.3c-0.4,0.1-0.8,0.1-1.2,0.2c-8.2,2.1-13.2,10.5-11.1,18.8   l18.7,72.4c1.6,6,6.5,10.3,12.3,11.3c0.4-0.1,0.8-0.2,1.2-0.3C130.8,202.5,135.8,194.1,133.7,185.8z"
              id="path3892" />

        <g id="g3896">
        <path class="st0"
              d="M82.1,102.3c-2.2-0.6-4.5-0.6-6.6-0.2c0.4,0.1,0.7,0.1,1.1,0.2c8.3,2.1,13.2,10.5,11.1,18.8L69,193.5    c-1.6,6-6.5,10.3-12.2,11.3c0.9,0.2,1.9,0.3,2.8,0.3c6.9,0,13.1-4.6,14.9-11.6l18.7-72.4C95.3,112.8,90.4,104.4,82.1,102.3z"
              id="path3894" />

	</g>
        <path class="st2"
              d="M102.3,95.6h-4.8c4.2-4.5,4.6-11.3,1.1-16.2c-5-3.5-12-3.1-16.5,1.4l-61.5,60.9c-4.5,4.5-5,11.5-1.5,16.6   c2.2,1.6,4.8,2.3,7.4,2.3c3.3,0,6.6-1.2,9.1-3.7l22.1-21.8l-13.1,50.8c-2.1,8.2,2.8,16.7,11.1,18.8c0.4,0.1,0.7,0.2,1.1,0.2   c5.7-1,10.6-5.3,12.2-11.3l6-23.1c1.4,0,3.1,0,4.8,0h22.5c14.5,0,19.9-1.3,19.9-14.6l6-40.2C126.1,104.3,115.3,95.6,102.3,95.6z"
              id="path3898" />

        <g id="g3902">
        <path class="st0"
              d="M162.3,141.7l-61.5-60.9c-5.1-5-13.3-5-18.3,0.1c-0.5,0.5-1,1.1-1.4,1.7c5-3.5,12-3.1,16.5,1.4l61.5,60.9    c4.5,4.5,5,11.5,1.5,16.6c0.6-0.4,1.2-0.9,1.8-1.5C167.4,154.9,167.4,146.7,162.3,141.7z"
              id="path3900" />

	</g>
        <path class="st2"
              d="M159.1,144.9L97.6,83.9c-4.5-4.5-11.5-4.9-16.5-1.4c-3.6,5.1-3.1,12.1,1.5,16.6l61.5,60.9   c2.5,2.5,5.8,3.7,9.1,3.7c2.6,0,5.2-0.8,7.4-2.3C164.2,156.4,163.7,149.4,159.1,144.9z"
              id="path3904" />

        <g id="g3920">
        <g id="g3910">
        <path class="st0"
              d="M158.9,148.9l-6.6-0.7c-4.8-0.5-9.2,2.3-11,6.5c-0.2-1-0.3-2.1-0.2-3.3l0-0.4c0.6-5.9,5.9-10.3,11.9-9.7     l6.6,0.7c5.9,0.6,10.3,5.9,9.7,11.9l0,0.4c-0.1,1.1-0.4,2.2-0.8,3.2C167.5,153,163.7,149.4,158.9,148.9z"
              id="path3906" />

        <path class="st2"
              d="M157.4,164.1l-6.6-0.7c-4.8-0.5-8.6-4.1-9.5-8.6c1.8-4.2,6.2-7,11-6.5l6.6,0.7c4.8,0.5,8.6,4.1,9.5,8.6     C166.6,161.8,162.2,164.6,157.4,164.1z"
              id="path3908" />

		</g>
        <g id="g3918">
        <path class="st3"
              d="M144.3,157.5L144.3,157.5c0-0.2,0-0.4,0-0.6c0.3-1.8,2-2.9,3.8-2.6s2.9,2,2.6,3.8c0,0.2-0.1,0.4-0.2,0.5l0,0     l0,0.1c0,0,0,0,0,0.1l-5.7,14l-0.5-15.1C144.3,157.6,144.3,157.6,144.3,157.5L144.3,157.5z"
              id="path3912" />

        <path class="st3"
              d="M150.9,158.7L150.9,158.7c0-0.2,0-0.4,0-0.6c0.3-1.8,2-2.9,3.8-2.6c1.8,0.3,2.9,2,2.6,3.8     c0,0.2-0.1,0.4-0.2,0.5l0,0l0,0.1c0,0,0,0,0,0.1l-5.7,14l-0.5-15.1C150.9,158.8,150.9,158.7,150.9,158.7L150.9,158.7z"
              id="path3914" />

        <path class="st3"
              d="M157.5,159.8L157.5,159.8c0-0.2,0-0.4,0-0.6c0.3-1.8,2-2.9,3.8-2.6c1.8,0.3,2.9,2,2.6,3.8     c0,0.2-0.1,0.4-0.2,0.5l0,0l0,0.1c0,0,0,0,0,0.1l-5.7,14l-0.5-15.1C157.5,160,157.5,159.9,157.5,159.8L157.5,159.8z"
              id="path3916" />

		</g>
	</g>
        <g id="g3934">
        <path class="st0"
              d="M30.3,148.6l-6.6,0.7c-4.8,0.5-8.5,4.2-9.4,8.7c-0.4-1-0.7-2-0.9-3.2l0-0.4c-0.7-5.9,3.6-11.3,9.6-12l6.6-0.7    c5.9-0.7,11.3,3.6,12,9.6l0,0.4c0.1,1.1,0.1,2.2-0.1,3.3C39.5,150.8,35.1,148.1,30.3,148.6z"
              id="path3922" />

        <path class="st2"
              d="M31.9,163.7l-6.6,0.7c-4.8,0.5-9.2-2.2-11.1-6.4c0.9-4.5,4.6-8.2,9.4-8.7l6.6-0.7c4.8-0.5,9.2,2.2,11.1,6.4    C40.5,159.5,36.7,163.2,31.9,163.7z"
              id="path3924" />

        <g id="g3932">
        <path class="st3"
              d="M17.9,159.1L17.9,159.1c-0.1-0.2-0.1-0.4-0.1-0.6c-0.2-1.8,1.1-3.4,2.9-3.6s3.4,1.1,3.6,2.9     c0,0.2,0,0.4,0,0.6l0,0l0,0.1c0,0,0,0,0,0.1l-1.5,15.1l-4.8-14.3C17.9,159.2,17.9,159.2,17.9,159.1L17.9,159.1z"
              id="path3926" />

        <path class="st3"
              d="M24.5,158.4L24.5,158.4c-0.1-0.2-0.1-0.4-0.1-0.6c-0.2-1.8,1.1-3.4,2.9-3.6s3.4,1.1,3.6,2.9     c0,0.2,0,0.4,0,0.6l0,0l0,0.1c0,0,0,0,0,0.1l-1.5,15.1l-4.8-14.3C24.5,158.5,24.5,158.4,24.5,158.4L24.5,158.4z"
              id="path3928" />

        <path class="st3"
              d="M31.2,157.6L31.2,157.6c-0.1-0.2-0.1-0.4-0.1-0.6c-0.2-1.8,1.1-3.4,2.9-3.6s3.4,1.1,3.6,2.9     c0,0.2,0,0.4,0,0.6l0,0l0,0.1c0,0,0,0,0,0.1L36,172.1l-4.8-14.3C31.2,157.7,31.2,157.7,31.2,157.6L31.2,157.6z"
              id="path3930" />

		</g>
	</g>
        <ellipse class="st4"
                 cx="90.1"
                 cy="128"
                 rx="29.2"
                 ry="31.2"
                 id="ellipse3936"
                 style="fill:#000000" />

        <g id="g3950">
        <g id="g3948">
        <line class="st5"
              x1="61"
              y1="102.5"
              x2="61.1"
              y2="102.5"
              id="line3938" />

        <line class="st6"
              x1="63.2"
              y1="104.6"
              x2="88"
              y2="129.4"
              id="line3940" />

        <polyline class="st5"
                  points="89,130.5 89.1,130.5 89.1,130.5    "
                  id="polyline3942" />

        <line class="st7"
              x1="91.2"
              y1="128.4"
              x2="118.1"
              y2="101.5"
              id="line3944" />

        <line class="st5"
              x1="119.2"
              y1="100.5"
              x2="119.2"
              y2="100.4"
              id="line3946" />

		</g>
	</g>
        <path class="st0"
              d="M91.5,99.2c-0.8,0-1.6,0-2.4,0c-0.8,0-1.6,0-2.4,0c-9.1,0-17.4-1.4-24.4-4.1c-1,0.7-1.9,1.5-2.7,2.3   c5.4,8.5,16.6,14.4,29.6,14.4c13.6,0,25.2-6.4,30.3-15.6c-0.7-0.6-1.4-1.1-2.1-1.7C109.9,97.6,101.2,99.2,91.5,99.2z"
              id="path3952" />

        <rect x="85.9"
              y="45.5"
              width="2.9"
              height="23.2"
              id="rect3954" />

        <path class="st2"
              d="M87.4,17.8c27.8,0,50.4,21.6,50.4,48.1s-20.1,39.2-48,39.2c-0.8,0-1.6,0-2.4,0c-0.8,0-1.6,0-2.4,0   c-27.8,0-48-12.7-48-39.2S59.5,17.8,87.4,17.8z"
              id="path3956" />

        <g id="g3976">
        <path class="st8"
              d="m 46.3,64 c 0,-6.3 2.8,-12 7.2,-16.1 1.2,-1.1 2.5,-2 3.9,-2.8 2.4,-1.3 5.2,-2.1 8,-2.4 3.9,-0.4 7.9,0.1 11.6,1.7 l 4,1.7 c 2,0.9 4.2,1.3 6.4,1.3 2.2,0 4.4,-0.5 6.4,-1.3 l 4,-1.7 c 3.7,-1.6 7.7,-2.1 11.6,-1.7 2.8,0.3 5.5,1.1 8,2.4 1.4,0.8 2.7,1.7 3.9,2.8 4.4,4.1 7.2,9.8 7.2,16.1 v 0.1 0.1 c 0,3.2 -0.5,6.1 -1.4,8.6 -4.4,13.1 -16.96961,25.165015 -36.169612,25.065015 L 88.05053,97.772083 84.334276,97.586217 C 65.134276,97.686217 52.1,85.9 47.7,72.8 46.8,70.3 46.3,67.4 46.3,64.2 v -0.1 z"
              id="path3958"
              inkscape:connector-curvature="0"
              style="fill:#ffffff"
              sodipodi:nodetypes="scccccscccccscscccccscs" />

        <g id="g3962">
        <path class="st2"
              d="M63.1,47.3c0.2-0.1,0.4-0.1,0.6-0.1c2.7-0.6,5.7,0.3,7.7,2.2c2.5,2.3,3.1,5.7,2.1,8.8     c-0.5,1.6-1.6,3.1-3.1,3.9c-1.1,0.6-2.4,0.9-3.7,1c-2.4,0.2-4.9,0.1-7.3,0.5c-2.3,0.4-4.6,1.3-6.5,2.7c-2.4,1.8-2.7,6.9-2.7,6.9     c-0.1-0.6-0.2-1.4-0.3-2c-0.2-1.7-0.2-3.3-0.2-5c0.4-7.2,3.7-13.8,10-17.5C60.8,48.2,61.9,47.6,63.1,47.3z"
              id="path3960" />

		</g>
        <path class="st8"
              d="M66.6,60.5L66.6,60.5c2.3,0,4.1-1.9,4.1-4.2l-0.1-2.4c0-2.3-1.8-4.2-4.1-4.2h0c-2.3,0-4.1,1.9-4.1,4.2    l0.1,2.4C62.5,58.5,64.4,60.5,66.6,60.5z"
              id="path3964" />

        <circle class="st3"
                cx="66.7"
                cy="55.4"
                r="3.1"
                id="circle3966" />

        <g id="g3970">
        <path class="st2"
              d="M111.7,47.3c-0.2-0.1-0.4-0.1-0.6-0.1c-2.7-0.6-5.7,0.3-7.7,2.2c-2.5,2.3-3.1,5.7-2.1,8.8     c0.5,1.6,1.6,3.1,3.1,3.9c1.1,0.6,2.4,0.9,3.7,1c2.4,0.2,4.9,0.1,7.3,0.5c2.3,0.4,4.6,1.3,6.5,2.7c2.4,1.8,2.7,6.9,2.7,6.9     c0.1-0.6,0.2-1.4,0.3-2c0.2-1.7,0.2-3.3,0.2-5c-0.4-7.2-3.7-13.8-10-17.5C114,48.2,112.9,47.6,111.7,47.3z"
              id="path3968" />

		</g>
        <path class="st8"
              d="M108.2,60.5L108.2,60.5c-2.3,0-4.1-1.9-4.1-4.2l0.1-2.4c0-2.3,1.8-4.2,4.1-4.2h0c2.3,0,4.1,1.9,4.1,4.2    l-0.1,2.4C112.3,58.5,110.4,60.5,108.2,60.5z"
              id="path3972" />

        <circle class="st3"
                cx="108.1"
                cy="55.4"
                r="3.1"
                id="circle3974" />

	</g>
        <g id="g3980">
        <rect x="85.9"
              y="47.3"
              class="st2"
              width="3"
              height="22.3"
              id="rect3978" />

	</g>
        <path class="st3"
              d="M 102.88587,55.944522 114.5,52.6 c 0,0 -3.9,-4.3 -6.9,-4.3 -3.1,0 -4.71413,7.644522 -4.71413,7.644522 z"
              id="path3982"
              inkscape:connector-curvature="0"
              style="fill:#030305"
              sodipodi:nodetypes="ccsc" />

        <path class="st3"
              d="m 62,53.2 10.643463,1.843463 C 72.643463,55.043463 69.5,48.6 66.4,48.6 63.3,48.6 62,53.2 62,53.2 Z"
              id="path3984"
              inkscape:connector-curvature="0"
              style="fill:#030305"
              sodipodi:nodetypes="ccsc" />

        <circle class="st8"
                cx="65.4"
                cy="54.5"
                r="0.5"
                id="circle3986" />

        <circle class="st8"
                cx="106.6"
                cy="54.5"
                r="0.5"
                id="circle3988" />

        <path class="st3"
              d="M82.3,51l5.1,0l5.1,0c3.5-0.1,6.4,2.8,6.4,6.4C99,61,96.2,64,92.7,64l-0.6,0c-0.1,0-0.2,0-0.2,0l-4.5,0l-4.5,0   c-0.1,0-0.2,0-0.2,0l-0.6,0c-3.5-0.1-6.3-3.1-6.2-6.7C76,53.8,78.8,50.9,82.3,51z"
              id="path3990" />

        <path class="st3"
              d="m 70,67.58478 c -0.5,-0.196618 -0.9,-0.491545 -1.3,-0.786471 v 0 c 0,0 -0.1,0 -0.1,-0.09831 l 18.8,0.294927 18.7,0.196617 c 0,0 -0.1,0 -0.1,0.09831 v 0 c -0.4,0.294927 -0.8,0.491544 -1.3,0.688162 v 0 l -1.5,0.589853 c -0.1,0 -0.1,0.09831 -0.2,0.09831 -0.5,0.196617 -1,0.294926 -1.6,0.491544 -0.1,0 -0.3,0.09831 -0.4,0.09831 -0.5,0.09831 -1.1,0.294926 -1.6,0.393235 -0.2,0.09831 -0.4,0.09831 -0.7,0.196618 -0.5,0.09831 -1.034287,4.395755 -1.534287,4.494064 -0.3,0 -0.665713,-4.100829 -0.965713,-4.100829 -0.5,0.09831 -1.1,0.09831 -1.6,0.196618 -0.4,0 -0.7,0.09831 -1.1,0.09831 -0.5,0 -1.1,0.09831 -1.6,0.09831 -0.4,0 -0.9,0.09831 -1.3,0.09831 H 89 87.6 87.5 87.4 c -0.5,0 -0.9,0 -1.4,-0.09831 -0.5,0 -1.1,0 -1.6,-0.09831 -0.4,0 -0.9,-0.09831 -1.3,-0.09831 -0.5,0 -1.1,-0.09831 -1.6,-0.09831 -0.4,0 -0.8,-0.09831 -1.1,-0.09831 -0.5,-0.09831 -1.1,-0.09831 -1.6,-0.196618 -0.5,-0.09831 -1.128567,4.036227 -1.428567,3.937918 -0.5,-0.09831 -0.771433,-4.331153 -1.271433,-4.429462 -0.2,-0.09831 -0.5,-0.09831 -0.7,-0.196617 -0.5,-0.09831 -1.1,-0.294927 -1.6,-0.393236 -0.2,0 -0.3,-0.09831 -0.4,-0.09831 -0.6,-0.196617 -1.1,-0.294926 -1.6,-0.491544 -0.1,0 -0.1,-0.09831 -0.2,-0.09831 C 71,68.076324 70.5,67.781397 70,67.58478 Z"
              id="path3992"
              inkscape:connector-curvature="0"
              style="fill:#030305;stroke-width:0.99150813"
              sodipodi:nodetypes="sccccccccccccccccccssscccsccsscscccccccs" />

        <g id="g4002"
           style="fill:#ffcc00"
           transform="translate(0.336853,-0.081662)">
        <g id="g3998"
           style="fill:#ffcc00">
        <path class="st9"
              d="m 13.3,33.1 c 0,0 23.3,-14.2 30.7,-9.2 7.4,5 13.5,10.8 3.8,12.9 -9.7,2.1 -34.5,-3.7 -34.5,-3.7 z"
              id="path3994"
              style="fill:#ffcc00"
              inkscape:connector-curvature="0" />

        <path class="st9"
              d="m 14.3,50.1 c 0,0 16.4,-13.4 24.2,-12.5 7.8,0.9 7.8,0.9 7.8,0.9 0,0 0.3,11.5 -7.5,10.7 -7.8,-0.9 -24.5,0.9 -24.5,0.9 z"
              id="path3996"
              style="fill:#ffcc00"
              inkscape:connector-curvature="0" />

		</g>
        <path class="st9"
              d="M 121,30 H 53.8 C 47.8,35.2 43,41.8 40.1,49.2 h 94.5 C 131.8,41.8 127,35.2 121,30 Z"
              id="path4000"
              style="fill:#ffcc00"
              inkscape:connector-curvature="0" />

	</g>
	
<path sodipodi:type="star"
      style="fill:#ffffff"
      id="path4017"
      sodipodi:sides="5"
      sodipodi:cx="89.40139"
      sodipodi:cy="131.26821"
      sodipodi:r1="17.754793"
      sodipodi:r2="8.8773975"
      sodipodi:arg1="0.53862417"
      sodipodi:arg2="1.1669427"
      inkscape:flatsided="false"
      inkscape:rounded="0"
      inkscape:randomized="0"
      d="m 104.64237,140.37562 -11.752475,-0.94417 -7.440451,9.14614 -2.733751,-11.46904 -10.997725,-4.24998 10.062929,-6.14408 0.643483,-11.77277 8.952983,7.67179 11.395417,-3.026 -4.529678,10.88551 z"
      inkscape:transform-center-x="1.2212185"
      inkscape:transform-center-y="0.49145152" /><path style="fill:#ffcc00;stroke-width:0.18586569"
                                                       d="m 168.45734,156.91987 c -0.007,-0.1685 -0.39132,-1.06191 -0.85359,-1.98535 -0.66993,-1.33825 -1.09427,-1.91163 -2.09099,-2.8254 -1.46312,-1.34136 -3.25364,-2.43385 -4.68197,-2.85671 -0.55837,-0.16532 -2.98392,-0.51176 -5.3901,-0.76988 -3.62998,-0.38939 -4.59138,-0.43584 -5.64638,-0.2728 -3.40827,0.52674 -6.3203,2.46499 -7.93563,5.28196 l -0.52301,0.91208 -0.13166,-0.70181 c -0.20273,-1.08061 0.0289,-3.58971 0.45662,-4.94601 0.98144,-3.11226 3.77032,-5.90115 6.88258,-6.88259 1.49528,-0.47152 3.70179,-0.62367 5.68231,-0.3918 0.81781,0.0958 1.5112,0.15427 1.54087,0.13006 0.0297,-0.0242 -4.82142,-4.88249 -10.78021,-10.79617 -5.95878,-5.91368 -15.03617,-14.93443 -20.17196,-20.0461 l -9.33781,-9.29395 -0.97773,0.94264 c -4.76962,4.59837 -11.77521,7.78739 -19.603728,8.92381 -2.920903,0.42401 -8.658079,0.41903 -11.484254,-0.01 -7.114008,-1.07987 -13.493587,-3.8135 -18.362381,-7.86822 -0.796733,-0.66351 -1.42403,-1.23009 -1.393993,-1.25906 0.03004,-0.029 1.100106,0.23477 2.377933,0.58609 2.725702,0.74939 6.275594,1.42994 9.822665,1.88312 3.773466,0.4821 19.36325,0.47417 23.261426,-0.0118 6.987132,-0.87111 12.782622,-2.43842 17.927842,-4.848319 1.01776,-0.476693 1.97961,-0.816304 2.13746,-0.754691 0.21051,0.08217 0.12774,0.1795 -0.3106,0.365234 -0.7479,0.316903 -0.96569,1.012816 -0.52665,1.682866 0.45426,0.6933 1.3915,0.57681 1.77477,-0.22058 l 0.2788,-0.58005 16.26325,16.11952 c 25.79933,25.57132 27.37498,27.11983 28.1317,27.64696 1.86582,1.29973 3.53535,3.79436 4.13499,6.17856 0.37445,1.48884 0.27713,5.08335 -0.16872,6.23129 -0.15881,0.40891 -0.29464,0.6056 -0.30185,0.43709 z"
                                                       id="path4021"
                                                       inkscape:connector-curvature="0" /><path style="fill:#ffcc00;stroke-width:0.18586569"
                                                                                                d="m 31.043042,148.45232 c 0.230009,-0.0443 0.606387,-0.0443 0.836396,0 0.230009,0.0443 0.04182,0.0806 -0.418198,0.0806 -0.460017,0 -0.648206,-0.0362 -0.418198,-0.0806 z"
                                                                                                id="path4023"
                                                                                                inkscape:connector-curvature="0" /><path style="fill:#ffcc00;stroke-width:0.18586569"
                                                                                                                                         d="m 40.281838,158.15557 c 0.522602,-1.26908 1.030283,-2.75603 1.030283,-3.0176 0,-0.54921 -1.488589,-2.78484 -2.474467,-3.71626 -1.673317,-1.58089 -3.630438,-2.48964 -6.126889,-2.84492 -1.585543,-0.22564 -9.297738,0.54883 -11.12945,1.11764 -3.251612,1.00973 -6.16981,3.93421 -7.13489,7.15025 l -0.22605,0.75329 -0.347587,-1.11519 c -0.528771,-1.6965 -0.4881,-4.98344 0.08208,-6.63363 1.101402,-3.18762 3.640859,-5.73858 6.831704,-6.86265 1.157873,-0.4079 8.121866,-1.27807 10.210002,-1.27577 3.391629,0.004 6.886753,1.93851 8.830014,4.88798 0.433283,0.65764 0.970386,1.84389 1.256861,2.77591 0.275139,0.89514 0.562885,1.60608 0.639437,1.57986 0.07655,-0.0262 3.653766,-3.55648 7.949366,-7.84503 4.295601,-4.28854 7.810953,-7.71776 7.811895,-7.62049 9.43e-4,0.0973 -0.430329,1.89148 -0.958381,3.98711 l -0.960095,3.81025 -5.500451,5.54315 c -6.181703,6.22969 -10.011785,9.88075 -9.783384,9.3261 z"
                                                                                                                                         id="path4025"
                                                                                                                                         inkscape:connector-curvature="0" /><path style="fill:#ffcc00;stroke-width:0.18586569"
                                                                                                                                                                                  d="m 122.53888,204.94985 c -0.36289,-0.0678 -0.18459,-0.17469 0.8364,-0.50134 7.35658,-2.35364 12.01432,-9.91057 10.6692,-17.31022 -0.22845,-1.25675 -10.16403,-39.82021 -10.32752,-40.08475 -0.1233,-0.19951 0.67,-5.92908 0.84931,-6.1341 0.0657,-0.0751 0.92059,0.67768 1.89985,1.67279 l 1.78048,1.80928 5.41188,21.00282 c 2.97653,11.55156 5.50473,21.67194 5.61822,22.48975 0.84111,6.0611 -2.64461,12.63351 -8.17821,15.42018 -2.54319,1.28073 -6.45675,2.02854 -8.55961,1.63559 z"
                                                                                                                                                                                  id="path4027"
                                                                                                                                                                                  inkscape:connector-curvature="0" /><path style="fill:#333333;stroke-width:0.18586569"
                                                                                                                                                                                                                           d="m 58.132965,204.95243 -0.743462,-0.0829 1.30106,-0.41806 c 4.618688,-1.48411 8.319387,-5.03559 9.916549,-9.51671 0.287122,-0.80557 1.853498,-6.6292 3.480835,-12.94141 l 2.958795,-11.47674 14.032859,-1.4e-4 14.032859,-1.5e-4 0.70223,2.7412 c 0.38623,1.50766 0.75145,2.92939 0.81161,3.1594 l 0.10937,0.41819 H 91.792346 78.849019 l -0.17974,0.4182 c -0.09886,0.23001 -1.145438,4.16738 -2.325737,8.74972 -1.180299,4.58234 -2.364105,8.87635 -2.63068,9.54224 -1.797574,4.49026 -6.33339,8.24964 -11.026187,9.13873 -1.279647,0.24244 -3.574329,0.37773 -4.55371,0.26847 z"
                                                                                                                                                                                                                           id="path4029"
                                                                                                                                                                                                                           inkscape:connector-curvature="0" /><path style="fill:#1a1a1a;stroke-width:0.18586569"
                                                                                                                                                                                                                                                                    d="m 55.650242,204.60845 c -5.574059,-1.49946 -9.916095,-6.04404 -11.085343,-11.60246 -0.30085,-1.43018 -0.393234,-4.46608 -0.17382,-5.71196 0.0679,-0.38556 2.448448,-9.73408 5.290106,-20.7745 7.422997,-28.83987 8.015608,-31.16677 7.951707,-31.22264 -0.03164,-0.0277 -3.570385,3.41052 -7.863882,7.64041 -4.293497,4.22988 -7.889998,7.69059 -7.992224,7.69045 -0.102227,-1.4e-4 -0.338226,-0.52289 -0.524445,-1.16166 -0.689658,-2.36568 -2.126097,-4.39058 -4.128036,-5.81913 -1.477345,-1.05421 -2.940559,-1.65284 -4.733736,-1.93666 -1.221558,-0.19334 -1.954843,-0.16037 -5.927986,0.26653 -2.880512,0.3095 -4.938845,0.62355 -5.644131,0.86114 -0.610576,0.20569 -1.159985,0.32414 -1.220908,0.26321 -0.113679,-0.11368 9.376184,-9.61292 29.109944,-29.13871 11.131775,-11.01447 11.208015,-11.08512 11.570139,-10.723 0.439659,0.43966 0.884787,0.46293 1.438362,0.0752 1.007898,-0.70596 0.230897,-1.91255 -1.724367,-2.67773 C 59.378266,100.3969 57.896221,99.706363 56.69819,99.102408 45.510439,93.46241 39.048108,84.212149 37.379388,71.449232 37.082225,69.176424 37.081776,62.761099 37.378621,60.483157 37.7538,57.604096 38.509295,54.226213 39.332405,51.747612 l 0.771589,-2.323463 5.925792,-0.04911 5.925792,-0.04911 -0.642599,0.792574 c -3.769127,4.648793 -5.467577,10.172962 -4.977276,16.18847 0.320798,3.935875 1.033651,6.443806 2.993716,10.532366 5.225238,10.899488 15.790174,18.490904 28.30609,20.339288 4.38309,0.647307 15.42443,0.875166 19.064585,0.393435 10.860996,-1.437325 20.217566,-7.168817 26.108546,-15.993149 2.83987,-4.253959 4.79827,-9.019 5.48383,-13.342864 0.29836,-1.881779 0.25168,-6.286417 -0.0854,-8.057115 -0.61729,-3.242779 -2.05581,-6.48719 -4.08977,-9.224003 l -1.2106,-1.628936 5.90146,0.04908 5.90146,0.04908 0.68582,2.082742 c 0.82707,2.511699 1.56541,5.729305 1.95168,8.505272 0.35055,2.519203 0.39933,8.785468 0.0876,11.251203 -1.51498,11.982577 -7.01153,20.6063 -16.94381,26.583699 -5.53533,3.331259 -11.91879,5.377689 -20.631089,6.614009 -2.834814,0.40227 -18.404411,0.58849 -22.020203,0.26337 -4.620018,-0.41541 -8.417812,-1.08331 -12.242641,-2.15305 -1.233066,-0.34487 -2.264378,-0.60459 -2.291802,-0.57717 -0.152231,0.15223 4.136026,3.54785 5.310694,4.20523 0.250225,0.14003 0.205446,0.26693 -0.308818,0.87515 -1.243813,1.47106 -3.41047,4.88217 -4.292895,6.75858 -7.195102,15.29982 -1.744561,33.71143 12.368099,41.77872 4.275002,2.44374 8.631667,3.58083 13.719618,3.58083 5.305253,0 9.748868,-1.21754 14.267637,-3.9093 12.42035,-7.39861 18.03165,-23.30736 13.3114,-37.73951 -1.1869,-3.62894 -3.49058,-7.75016 -5.89154,-10.53979 l -1.13638,-1.32033 1.43398,-1.0766 c 0.78869,-0.59212 1.87617,-1.49333 2.41663,-2.00267 l 0.98265,-0.92608 6.35904,6.30452 c 19.43733,19.27067 23.87645,23.68608 28.48553,28.33338 2.78809,2.81122 5.04946,5.13169 5.02528,5.15659 -0.0242,0.0249 -0.74849,-0.0451 -1.60954,-0.15567 -2.74886,-0.35285 -5.19624,0.12888 -7.37623,1.45191 -2.99552,1.81797 -4.86764,4.70683 -5.2558,8.11022 -0.16242,1.42408 -0.0562,3.6575 0.17335,3.64626 0.0621,-0.003 0.40355,-0.51287 0.75875,-1.13295 1.69134,-2.95257 5.522,-5.16919 8.94871,-5.1782 1.17288,-0.003 7.27886,0.6368 8.99203,0.94233 2.06406,0.36811 4.65005,1.96814 6.06866,3.75487 0.84971,1.0702 1.95192,3.22373 2.12665,4.15512 0.22463,1.19738 -1.63281,3.73409 -3.79753,5.18629 -0.66986,0.44938 -1.24446,0.79052 -1.27688,0.7581 -0.0324,-0.0324 0.15123,-0.61738 0.40813,-1.29989 0.57957,-1.53979 0.59306,-2.58129 0.0458,-3.53828 -1.26214,-2.2072 -4.19473,-2.27344 -5.65544,-0.12774 l -0.40779,0.59901 -0.2041,-0.75794 c -0.24333,-0.90368 -1.08676,-1.91919 -1.85995,-2.23946 -0.32191,-0.13334 -1.01555,-0.19805 -1.63934,-0.15293 -1.32595,0.0959 -2.16597,0.63828 -2.65444,1.71387 l -0.34599,0.76185 -0.004,-0.61004 c -0.01,-1.48521 -1.22789,-2.89637 -2.68891,-3.11546 -1.02434,-0.15361 -1.65926,-0.0133 -2.53683,0.56051 -1.00793,0.65908 -1.28364,1.42052 -1.28364,3.54515 v 1.8109 l -1.90512,-1.93934 c -4.70034,-4.78475 -17.80626,-17.6825 -17.88643,-17.60233 -0.13324,0.13324 -0.83974,5.09238 -0.8382,5.8836 7.4e-4,0.37774 0.37891,2.10867 0.84038,3.84651 0.46147,1.73785 0.88141,3.36882 0.93319,3.62438 0.0518,0.25557 0.67815,2.68112 1.39193,5.39011 0.71378,2.70899 1.34053,5.13454 1.39277,5.3901 0.0523,0.25557 0.38584,1.55198 0.74133,2.88092 0.35548,1.32894 0.69294,2.62535 0.7499,2.88092 0.057,0.25556 0.97575,3.85207 2.04173,7.99222 1.06599,4.14016 2.02774,7.98758 2.13722,8.54983 0.19836,1.01865 0.25176,3.56611 0.10199,4.86601 -0.12627,1.09599 -1.29908,4.31831 -1.98651,5.45799 -2.0916,3.46763 -5.31371,5.92117 -9.14932,6.96694 -1.28276,0.34975 -1.56637,0.36978 -2.40089,0.16958 -5.04181,-1.20951 -9.41363,-5.23789 -10.98151,-10.11883 -0.26027,-0.81023 -1.76761,-6.57299 -4.8616,-18.58657 -0.47389,-1.84007 -0.98446,-3.78469 -1.13459,-4.32138 l -0.27304,-0.9758 H 89.088817 74.98263 L 74.792,171.1197 c -0.104848,0.33224 -0.910656,3.44781 -1.790685,6.9235 -2.484404,9.81219 -4.16777,16.05665 -4.684838,17.37844 -1.125171,2.8763 -3.741621,5.90123 -6.509166,7.52538 -1.194903,0.70123 -4.520612,1.98643 -5.024102,1.94154 -0.07545,-0.007 -0.585286,-0.13278 -1.132974,-0.28011 z"
                                                                                                                                                                                                                                                                    id="path4031"
                                                                                                                                                                                                                                                                    inkscape:connector-curvature="0" /><path style="fill:#4d4d4d;stroke-width:0.18586569"
                                                                                                                                                                                                                                                                                                             d="m 54.136853,29.918341 c 0,-0.04556 0.690027,-0.621043 1.533392,-1.278841 6.086248,-4.747077 13.964517,-8.306903 21.678641,-9.795575 12.56221,-2.424256 25.941314,-0.117696 36.636714,6.316178 1.79553,1.08011 4.88121,3.247091 6.2265,4.372696 l 0.5576,0.46654 -33.316423,9.29e-4 c -18.324033,5.02e-4 -33.316424,-0.03636 -33.316424,-0.08193 z"
                                                                                                                                                                                                                                                                                                             id="path4033"
                                                                                                                                                                                                                                                                                                             inkscape:connector-curvature="0" /><path style="fill:#806600;stroke-width:0.18586569"
                                                                                                                                                                                                                                                                                                                                                      d="m 87.440944,158.97266 c -6.323682,-0.56257 -12.528837,-3.57352 -17.262878,-8.37652 -2.674776,-2.71374 -4.115183,-4.72027 -5.781212,-8.05343 -3.446129,-6.89452 -4.311162,-15.31648 -2.348126,-22.86133 1.180684,-4.53792 3.557176,-9.15994 6.443136,-12.53121 l 0.508018,-0.59345 2.651699,1.29719 c 4.016449,1.9648 7.69966,3.06533 12.267778,3.66556 2.915712,0.38311 9.59885,0.2766 12.130205,-0.19333 5.091316,-0.94516 9.521126,-2.54622 13.185866,-4.76575 l 1.29047,-0.78156 0.79972,0.91064 c 3.08683,3.51494 5.52736,8.14498 6.74043,12.78757 0.90377,3.45883 1.03186,4.5611 1.01735,8.75416 -0.012,3.47597 -0.0673,4.15865 -0.505,6.23734 -0.87313,4.14673 -2.48765,8.08795 -4.67817,11.41989 -1.28307,1.95167 -1.86242,2.66318 -3.68905,4.53066 -4.89821,5.00775 -10.949758,7.93811 -17.693064,8.56758 -2.253933,0.2104 -2.564349,0.20954 -5.077172,-0.014 z m 1.221095,-14.16419 c 1.661524,-2.0639 3.334315,-4.10504 3.717314,-4.53587 l 0.69636,-0.78334 5.390105,0.46067 c 2.964562,0.25336 5.584342,0.43858 5.821752,0.4116 0.39494,-0.0449 0.17642,-0.44351 -2.56984,-4.68796 -1.65081,-2.55139 -3.078114,-4.78209 -3.17178,-4.95711 -0.126451,-0.23627 0.403429,-1.69409 2.05796,-5.6619 1.22554,-2.93904 2.18739,-5.38457 2.13745,-5.43451 -0.0499,-0.0499 -2.49606,0.54506 -5.435819,1.32221 -2.939762,0.77715 -5.480194,1.43867 -5.645405,1.47005 -0.174243,0.0331 -2.151308,-1.53021 -4.708056,-3.72276 -2.42422,-2.0789 -4.457341,-3.73014 -4.518047,-3.66944 -0.0607,0.0607 -0.247614,2.64372 -0.415354,5.74002 -0.167738,3.0963 -0.363717,5.72468 -0.435507,5.84084 -0.07179,0.11616 -2.359971,1.57039 -5.084849,3.23163 -4.027435,2.45536 -4.887461,3.04957 -4.596944,3.17613 0.196558,0.0856 2.694107,1.05698 5.55011,2.15857 l 5.192731,2.0029 1.234055,5.19551 c 1.567983,6.6014 1.467924,6.2197 1.626953,6.20654 0.07472,-0.006 1.495287,-1.69988 3.156811,-3.76378 z"
                                                                                                                                                                                                                                                                                                                                                      id="path4035"
                                                                                                                                                                                                                                                                                                                                                      inkscape:connector-curvature="0" /><path style="fill:#ffdd55;stroke-width:0.18586569"
                                                                                                                                                                                                                                                                                                                                                                                               d="m 84.169401,142.77519 c -0.70155,-2.99012 -1.368355,-5.53471 -1.481789,-5.65466 -0.155814,-0.16476 -6.508514,-2.69135 -10.410815,-4.14057 -0.274026,-0.10177 0.757449,-0.80956 4.579423,-3.14237 l 4.933115,-3.01101 0.106167,-0.97048 c 0.05839,-0.53377 0.204686,-3.06147 0.325097,-5.61713 0.120411,-2.55565 0.278938,-4.71396 0.352281,-4.79624 0.07334,-0.0823 2.081835,1.5203 4.463315,3.5613 2.381479,2.041 4.421874,3.68059 4.534211,3.64352 0.365904,-0.12072 10.849324,-2.87324 10.943194,-2.87324 0.0502,0 -0.82773,2.19554 -1.95088,4.87897 -1.12315,2.68344 -2.122808,5.10174 -2.221463,5.374 -0.162956,0.44972 0.103404,0.93221 2.910173,5.27149 1.69925,2.62706 3.04837,4.81764 2.99805,4.86796 -0.0844,0.0844 -9.217374,-0.58138 -10.720301,-0.78152 l -0.66173,-0.0881 -3.613181,4.45621 c -1.98725,2.45092 -3.657313,4.45672 -3.711252,4.45734 -0.05394,5.5e-4 -0.672065,-2.44534 -1.373615,-5.43545 z"
                                                                                                                                                                                                                                                                                                                                                                                               id="path4037"
                                                                                                                                                                                                                                                                                                                                                                                               inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.01642836"
                                                                                                                                                                                                                                                                                                                                                                                                                                        d="m 76.8265,134.82523 c -2.718373,-1.05133 -4.946487,-1.9155 -4.951364,-1.92037 -0.01694,-0.017 0.107198,-0.14994 0.235932,-0.25277 0.152878,-0.12211 9.671489,-5.93879 9.680068,-5.91534 0.0234,0.064 -0.0293,0.0981 -2.153252,1.39382 -2.830917,1.72703 -4.101751,2.50545 -4.719514,2.89082 -2.143591,1.33721 -2.820467,1.83268 -2.665501,1.95115 0.01129,0.009 0.205354,0.0845 0.431244,0.16849 2.22709,0.82852 6.361875,2.44645 8.458138,3.30965 0.635784,0.26181 0.696117,0.28838 0.651388,0.28689 -0.01355,-4.5e-4 -2.248766,-0.86101 -4.967139,-1.91234 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                        id="path4039"
                                                                                                                                                                                                                                                                                                                                                                                                                                        inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 d="m 81.821726,126.29023 c -0.0017,-0.0418 0.132868,-2.56021 0.298985,-5.59653 0.166118,-3.03632 0.302032,-5.55054 0.302032,-5.58715 0,-0.0855 0.02273,-0.0838 0.165551,0.0124 0.15495,0.10435 6.857148,5.84699 6.841845,5.86229 -0.01424,0.0142 -1.026016,-0.82772 -2.340457,-1.94761 -1.766757,-1.50527 -3.108479,-2.60693 -3.89824,-3.20077 -0.406853,-0.30593 -0.568144,-0.40851 -0.614383,-0.39077 -0.08757,0.0336 -0.218562,1.79146 -0.386401,5.18549 -0.12633,2.55461 -0.226315,4.27764 -0.292558,5.04161 -0.04259,0.49113 -0.07199,0.73026 -0.07637,0.62105 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 id="path4041"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          d="m 98.314965,130.19748 c -3.88e-4,-0.0268 0.01878,-0.10516 0.04261,-0.17425 0.06265,-0.18168 0.713174,-1.76084 1.750555,-4.2495 1.62019,-3.88684 2.3544,-5.70365 2.40286,-5.94596 0.0116,-0.0582 0.007,-0.067 -0.0296,-0.0585 -0.49528,0.11439 -8.23102,2.14076 -10.203208,2.67272 -0.536868,0.14481 -0.737584,0.19014 -0.766696,0.17317 -0.02169,-0.0126 -0.03162,-0.0233 -0.02207,-0.0237 0.0095,-3.9e-4 2.513508,-0.6632 5.564354,-1.47292 3.05085,-0.80972 5.57575,-1.47739 5.61089,-1.48371 0.0351,-0.006 0.0639,-0.002 0.0639,0.009 0,0.0217 -4.359733,10.5093 -4.39302,10.56765 -0.01583,0.0277 -0.02003,0.0249 -0.02059,-0.0138 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          id="path4043"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   d=""
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   id="path4047"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            d="m 103.34807,138.58103 c -0.0302,-0.0479 -0.21172,-0.33804 -0.40346,-0.64472 -0.47563,-0.76074 -1.06182,-1.67984 -1.98559,-3.11325 -1.313398,-2.03801 -2.104918,-3.30072 -2.082856,-3.32278 0.0078,-0.008 4.529626,6.96692 4.626066,7.13542 0.0138,0.0241 0.003,0.0325 -0.0404,0.0325 -0.0429,0 -0.0739,-0.0238 -0.11379,-0.0871 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            id="path4049"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     d=""
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     id="path4053"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     inkscape:connector-curvature="0" /><path style="fill:#ffff00;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              d=""
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              id="path4055"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              inkscape:connector-curvature="0" /><path style="fill:#000000;stroke-width:0.02323321"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       d="m 85.44306,148.52903 c 0,-0.013 -0.559513,-2.37026 -1.243362,-5.23844 -0.683849,-2.86819 -1.240575,-5.22932 -1.237168,-5.24698 0.01473,-0.0763 0.609453,2.2643 1.097322,4.31863 0.860456,3.62323 1.368468,5.65052 1.45774,5.81733 0.0233,0.0435 0.03489,0.0363 0.166926,-0.10357 0.407117,-0.43137 2.087092,-2.47334 5.379418,-6.53854 0.962444,-1.18838 1.763982,-2.17572 1.781195,-2.19408 0.02717,-0.029 0.09658,-0.0252 0.525633,0.0289 0.271884,0.0343 0.651159,0.0778 0.842833,0.0967 2.115527,0.20903 8.243843,0.65733 9.592273,0.70169 l 0.46162,0.0152 -0.0175,-0.056 c -0.0238,-0.076 -0.27979,-0.52488 -0.58847,-1.03185 -0.24567,-0.40346 -0.2526,-0.41846 -0.19669,-0.42575 0.0319,-0.004 0.0608,-0.004 0.0643,0 0.0373,0.0445 0.79021,1.22721 0.82638,1.2981 0.0655,0.12831 0.0859,0.30459 0.0397,0.34291 -0.0279,0.0232 -1.14597,-0.0602 -5.688963,-0.42441 -3.109833,-0.24929 -5.69214,-0.45602 -5.738462,-0.45941 l -0.08422,-0.006 -3.675508,4.51886 c -2.021529,2.48537 -3.695626,4.53948 -3.720216,4.56468 -0.02459,0.0252 -0.04471,0.0352 -0.04471,0.0223 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       id="path4057"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       inkscape:connector-curvature="0" /><path style="fill:#000000;stroke-width:0.18586569"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                d="m 18.135108,162.51932 c -1.476629,-0.97725 -3.309932,-3.0975 -3.782221,-4.37422 -0.191983,-0.51898 0.658698,-2.79669 1.502625,-4.02329 1.350643,-1.9631 3.585053,-3.66445 5.650323,-4.30235 1.507872,-0.46573 7.066914,-1.11794 9.661591,-1.13354 2.320289,-0.0139 3.647386,0.27694 5.356566,1.17407 1.355269,0.71137 3.316264,2.62634 4.154303,4.0568 l 0.607717,1.03733 -0.384671,1.24542 c -0.514424,1.66551 -1.435954,3.19296 -2.625405,4.35164 -0.538655,0.52472 -1.001002,0.93241 -1.027436,0.90598 -0.02643,-0.0264 0.07944,-1.14711 0.235288,-2.49038 0.211128,-1.8198 0.233282,-2.62825 0.08691,-3.17181 -0.650924,-2.41735 -3.64943,-3.27156 -5.462474,-1.55615 -0.715763,0.67722 -1.048874,1.36574 -1.068898,2.20934 l -0.01676,0.70622 -0.180287,-0.62671 c -0.266598,-0.92676 -0.875083,-1.65072 -1.738871,-2.06887 -0.950019,-0.45989 -1.820097,-0.46611 -2.786891,-0.0199 -0.974708,0.44986 -1.549442,1.09616 -1.85997,2.09158 -0.138939,0.44538 -0.258213,0.66632 -0.265051,0.49098 -0.01832,-0.46962 -1.123571,-1.65006 -1.815751,-1.93927 -1.227516,-0.51289 -2.949219,-0.14948 -3.812031,0.80463 -0.442644,0.48949 -0.889951,1.61842 -0.889951,2.2461 0,0.2892 0.32885,1.50466 0.730777,2.70103 0.401927,1.19637 0.672262,2.17521 0.600743,2.17521 -0.07152,0 -0.463098,-0.22042 -0.870176,-0.48983 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                id="path4059"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                inkscape:connector-curvature="0" /><path style="fill:#e6e6e6;stroke-width:0.26285377"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         d="M 81.627355,97.378248 C 70.71791,96.69352 61.572166,92.363763 54.723023,84.641267 50.955925,80.393816 47.888675,74.370835 46.908857,69.297042 c -0.442766,-2.292773 -0.487629,-7.205256 -0.08577,-9.391337 0.431883,-2.349388 1.694351,-5.385917 3.13014,-7.528714 2.21039,-3.298827 1.862179,-3.099426 5.412481,-3.099426 h 3.093712 l -1.164442,0.979931 c -3.747745,3.153896 -6.17754,7.283209 -7.189029,12.21739 -0.437479,2.134081 -0.536574,7.535543 -0.177423,9.670957 0.193428,1.150073 0.204145,1.160996 0.386838,0.394281 1.109092,-4.654576 1.683351,-5.678038 3.905725,-6.960898 2.385172,-1.376835 4.386814,-1.841949 9.532206,-2.214964 3.830789,-0.277714 4.996214,-0.457329 6.122785,-0.943646 2.585808,-1.116239 4.082253,-3.705214 4.102351,-7.097414 0.01228,-2.072318 -0.393048,-3.327988 -1.57343,-4.874373 l -0.894047,-1.171264 h 7.095317 7.095314 v 0.758749 0.758749 l -2.723415,0.100813 c -2.478403,0.09174 -2.839031,0.17213 -4.00852,0.893526 -3.428696,2.114983 -4.180954,6.95784 -1.556964,10.02338 1.4575,1.702761 2.724251,2.184594 5.743349,2.184594 h 2.54555 v 1.446129 1.446128 l -8.585041,-0.175189 c -6.5826,-0.134327 -8.54018,-0.102607 -8.392717,0.135992 0.333726,0.53998 2.621158,1.560978 4.994964,2.229509 1.259146,0.35461 2.338072,0.693463 2.397613,0.753005 0.05954,0.05954 0.293119,0.987054 0.51906,2.061135 0.627861,2.984751 0.825582,2.926579 1.710198,-0.503159 l 0.296404,-1.149198 1.22979,0.162701 c 2.300299,0.304331 6.742823,0.472512 8.392554,0.229972 0.903559,-0.132839 7.951326,-0.223684 7.951326,-0.201879 0,0.190201 0.585472,3.263186 0.689502,3.619011 0.263043,0.899717 0.586227,0.433295 1.043372,-1.505813 0.254892,-1.081193 0.536058,-2.083306 0.624813,-2.226915 0.08876,-0.143611 1.178243,-0.555786 2.421077,-0.915946 1.24284,-0.360161 2.95302,-0.980454 3.80041,-1.378431 l 1.5407,-0.723594 -3.15425,-0.170393 c -1.73483,-0.09372 -5.608642,-0.186431 -8.60846,-0.206033 l -5.454216,-0.03564 v -1.445696 -1.445696 l 2.562824,-0.0058 c 3.026343,-0.0068 4.176055,-0.420416 5.619632,-2.021616 3.10524,-3.444292 1.713326,-9.202327 -2.59628,-10.740273 -0.54243,-0.193574 -2.021222,-0.357144 -3.286206,-0.36349 l -2.29997,-0.01154 v -0.788561 -0.788562 h 7.146229 7.146227 l -0.69221,0.722848 c -1.21295,1.266619 -1.8899,3.13429 -1.88164,5.191362 0.0142,3.537583 1.2212,5.747115 3.86011,7.066362 1.3878,0.693791 1.9212,0.787095 6.30846,1.103498 5.20005,0.37502 7.1998,0.835842 9.57305,2.206012 0.74991,0.43295 1.67788,1.199406 2.06217,1.703235 0.76695,1.005519 1.70001,3.694029 1.70001,4.89838 0,0.420828 0.10887,0.765142 0.24193,0.765142 0.73601,0 0.65547,-8.897292 -0.10589,-11.696992 -0.23588,-0.867418 -1.02475,-2.808158 -1.75303,-4.312756 -1.15342,-2.382899 -1.63722,-3.052278 -3.75211,-5.191362 l -2.42795,-2.455729 h 2.95805 2.95806 l 0.96195,1.117129 c 2.03886,2.367764 3.71427,5.841877 4.48248,9.294845 0.67002,3.011604 0.4226,8.616743 -0.52083,11.79917 -0.94812,3.198249 -3.401,8.17441 -5.41164,10.978618 -3.16407,4.412881 -8.43336,8.889604 -13.36015,11.350617 -2.22178,1.109816 -6.38365,2.539938 -9.241979,3.17577 -2.320231,0.516137 -12.225537,0.730813 -17.742629,0.384534 z"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         id="path4061"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         inkscape:connector-curvature="0"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         sodipodi:nodetypes="csscsscsssssssssccccccssscccscsccccssssscscccsccccssscccccccsscsssccscccscsssccc" /><text xml:space="preserve"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:1.25;font-family:'Bauhaus 93';-inkscape-font-specification:'Bauhaus 93, ';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       x="53.096458"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       y="42.319458"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       id="text4089"><tspan sodipodi:role="line"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            id="tspan4087"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            x="53.096458"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            y="42.319458"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            style="font-size:9.33333302px">chainertech.com</tspan></text>
<path style="fill:#000000"
      id="path4139"
      d="m 87.63578,128.32831 c -0.408641,-0.24132 -0.803981,-0.50254 -1.230407,-0.71212 -0.270322,-0.0909 -0.510745,-0.36952 -0.809159,-0.37935 -0.0452,-0.001 -0.08962,0.0122 -0.134425,0.0183 0.167875,-0.14106 -0.587155,0.28755 -0.386845,0.17352 2.663418,-1.51622 1.864072,-1.15845 1.335821,-0.71042 -0.21643,0.20779 -0.446128,0.39936 -0.676997,0.59063 -0.23295,0.16697 -0.447004,0.35711 -0.635216,0.57315 -0.13975,0.18639 -0.295985,0.36078 -0.417389,0.55999 -0.123151,0.17808 -0.270639,0.337 -0.385521,0.52062 -0.114589,0.16021 -0.191711,0.34185 -0.307637,0.50129 -0.128624,0.18228 -0.213258,0.38571 -0.265504,0.60136 -0.04876,0.25081 -0.05124,0.50725 -0.05454,0.76181 0.0062,0.25347 -0.01543,0.5089 0.01097,0.76138 0.02638,0.19411 0.139544,0.35771 0.250115,0.51432 0.08478,0.19804 0.239539,0.34134 0.359346,0.5147 0.103505,0.15169 0.231927,0.26759 0.384187,0.36855 0.1778,0.11748 0.304172,0.29524 0.486962,0.40485 0.170315,0.1285 0.350169,0.24468 0.53082,0.35811 0.147206,0.14381 0.339309,0.21446 0.522976,0.29837 0.236918,0.0861 0.492963,0.0823 0.741589,0.0898 0.204465,-0.0138 0.422268,0.0415 0.622026,-0.0212 0.08021,-0.0252 0.153789,-0.068 0.231329,-0.10055 0.212285,-0.0785 0.445273,-0.13552 0.636631,-0.25894 0.583589,-0.3176 1.35668,-0.75348 -1.386662,0.80052 -0.03945,0.0224 0.07477,-0.0513 0.111557,-0.0778 0.209044,-0.15062 0.0164,-0.02 0.229929,-0.16143 0.687334,-0.43256 1.39124,-0.82813 2.101134,-1.2297 0.156755,-0.0585 0.08397,-0.0222 0.219383,-0.1069 0.09606,-0.0705 0.217061,-0.0745 0.32407,-0.11347 0.06509,-0.0237 0.124412,-0.0612 0.188682,-0.087 0,0 -1.537711,1.21121 -1.537711,1.21121 v 0 c -0.167184,0.0697 -0.344015,0.11655 -0.498075,0.216 -0.601638,0.28053 -1.460935,0.81436 1.343977,-0.79786 0.310023,-0.17819 -0.627201,0.35849 -0.318505,0.20758 -0.111268,0.0558 -0.138132,0.0633 -0.238782,0.13816 -0.03676,0.0274 -0.06616,0.0646 -0.105436,0.0882 -0.656919,0.39476 -1.282091,0.80298 -1.962309,1.1353 -0.215807,0.0805 -0.427193,0.17118 -0.647494,0.23979 -0.291772,0.0928 -0.592103,0.0693 -0.894867,0.0574 -0.271209,-0.0133 -0.546113,-0.0262 -0.794033,-0.14969 -0.187827,-0.0931 -0.379338,-0.17658 -0.535948,-0.32059 -0.178501,-0.11961 -0.363458,-0.22962 -0.533755,-0.36111 -0.170758,-0.12773 -0.311491,-0.29103 -0.490678,-0.40837 -0.160542,-0.12292 -0.30596,-0.25488 -0.418087,-0.42513 -0.122226,-0.17112 -0.270228,-0.32114 -0.35828,-0.51585 -0.126306,-0.18276 -0.257406,-0.37173 -0.29424,-0.59539 -0.04306,-0.25979 -0.0137,-0.52524 -0.0224,-0.78777 0.0015,-0.26518 0.0022,-0.53138 0.03719,-0.79474 0.03975,-0.23862 0.109603,-0.45965 0.229135,-0.67073 0.107073,-0.16652 0.233528,-0.31718 0.307296,-0.50469 0.134744,-0.16765 0.229357,-0.36618 0.386254,-0.51856 0.140837,-0.17904 0.251536,-0.4056 0.419291,-0.57137 0.164371,-0.24187 0.379421,-0.44552 0.613777,-0.61944 0.24298,-0.17277 0.476731,-0.36631 0.680653,-0.58437 0.07445,-0.0602 0.131925,-0.14227 0.213854,-0.19185 0.525627,-0.31814 1.41645,-1.07853 2.228781,-1.14521 0.365323,0.0535 0.659808,0.27661 0.985007,0.43894 0.425841,0.22406 0.826598,0.48963 1.248503,0.72074 0,0 -1.640344,1.05711 -1.640344,1.05711 z"
      inkscape:connector-curvature="0" /><path style="fill:#000000"
                                               id="path4141"
                                               d="m 92.211475,125.34241 c -0.0098,0.43472 -0.0053,0.86961 -0.0028,1.3044 0.0019,0.29959 0.0028,0.59918 0.0032,0.89878 2.9e-4,0.26249 2.56e-4,0.52498 2.49e-4,0.78747 -1.6e-5,0.26226 -2.8e-5,0.52452 -3.5e-5,0.78677 -6e-6,0.26283 -6e-6,0.52565 -6e-6,0.78847 0,0.26286 0,0.52572 0,0.78858 0,0.26286 0,0.52571 0,0.78857 0,0.26285 0,0.5257 0,0.78856 -0.0022,0.29884 -0.0012,0.5977 -7.41e-4,0.89654 4.48e-4,0.27086 6.05e-4,0.54172 6.94e-4,0.81258 0.0012,0.16633 -0.0063,0.33232 0.01057,0.49793 0,0 -1.730398,0.91136 -1.730398,0.91136 v 0 c -0.02842,-0.17353 -0.02213,-0.34669 -0.02087,-0.52236 8.9e-5,-0.2711 2.46e-4,-0.54219 6.93e-4,-0.81328 4.62e-4,-0.2986 0.0015,-0.59721 -7.4e-4,-0.8958 0,-0.26285 0,-0.5257 0,-0.78856 0,-0.26285 0,-0.52571 0,-0.78856 0,-0.26286 0,-0.52572 0,-0.78859 0,-0.26282 -10e-7,-0.52563 -6e-6,-0.78845 -7e-6,-0.26225 -1.9e-5,-0.52449 -3.5e-5,-0.78674 -8e-6,-0.26257 -4.2e-5,-0.52515 2.49e-4,-0.78773 4.44e-4,-0.30069 0.0013,-0.60139 0.0032,-0.90208 0.0024,-0.43381 0.007,-0.86775 -0.0028,-1.3015 0,0 1.739583,-0.88636 1.739583,-0.88636 z"
                                               inkscape:connector-curvature="0" /><path style="fill:#000000"
                                                                                        id="path4143"
                                                                                        d="m 90.827231,129.67025 c 0.458895,0.057 0.920135,0.0913 1.38182,0.11494 0.382377,0.0144 0.759322,0.0917 1.133462,0.16753 0.391773,0.0719 0.790075,0.095 1.187472,0.10823 0.288805,0.007 0.577726,0.005 0.86659,0.005 0.218796,-7e-4 0.437592,-10e-4 0.656389,-10e-4 0,0 -1.580517,1.14863 -1.580517,1.14863 v 0 c -0.218712,3.3e-4 -0.437423,8.5e-4 -0.656136,0.001 -0.289178,-2.8e-4 -0.578479,-0.001 -0.867393,-0.0149 -0.40281,-0.0222 -0.805888,-0.0562 -1.202236,-0.1344 -0.368423,-0.0729 -0.740776,-0.13085 -1.116543,-0.14653 -0.461014,-0.0311 -0.920802,-0.0814 -1.382417,-0.10028 0,0 1.579509,-1.14758 1.579509,-1.14758 z"
                                                                                        inkscape:connector-curvature="0" /><path style="fill:#000000"
                                                                                                                                 id="path4145"
                                                                                                                                 d="m 96.154282,124.55385 c -0.0032,0.43881 -0.05845,0.87493 -0.0944,1.31179 -0.02453,0.29686 -0.03225,0.59464 -0.0359,0.89236 -0.0219,0.26657 -0.07675,0.52855 -0.104582,0.79464 -0.02341,0.25902 -0.02573,0.51926 -0.02769,0.77913 -0.0011,0.26262 -4.18e-4,0.52525 -1.23e-4,0.78787 0.02838,0.22505 0.07862,0.44592 0.104096,0.67171 0.031,0.2473 0.01117,0.49787 0.03855,0.74499 0.0348,0.23038 0.09689,0.45392 0.154842,0.67905 0.07169,0.32222 0.07967,0.65514 0.09066,0.98396 0.0085,0.31407 0.0062,0.62829 0.0064,0.94244 0.01569,0.25633 -0.04959,0.5053 -0.0882,0.75642 -0.0339,0.24632 -0.03844,0.49526 -0.0422,0.74347 0.01794,0.24528 -0.02682,0.48229 -0.07196,0.72147 -0.02141,0.15391 -0.03781,0.30548 -0.0835,0.4543 0,0 -1.783929,0.80761 -1.783929,0.80761 v 0 c 0.09663,-0.1204 0.09606,-0.25405 0.109442,-0.40404 0.03719,-0.2321 0.112257,-0.45618 0.08792,-0.69429 0.0021,-0.25506 0.0041,-0.51063 0.02997,-0.76463 0.02999,-0.24643 0.104754,-0.4866 0.10429,-0.73495 0.001,-0.31268 0.0013,-0.62537 -0.0028,-0.93803 -0.0067,-0.31518 -0.01098,-0.63382 -0.07501,-0.94359 -0.05758,-0.2321 -0.129087,-0.45949 -0.16574,-0.69652 -0.04225,-0.24813 -0.01463,-0.50161 -0.04166,-0.75196 -0.02208,-0.23295 -0.06837,-0.46062 -0.111889,-0.69024 -2.79e-4,-0.26302 -8.65e-4,-0.52604 -4.93e-4,-0.78905 0.001,-0.26487 0.0019,-0.53 0.02001,-0.79438 0.02169,-0.26252 0.06045,-0.52224 0.112206,-0.78056 0.0031,-0.30311 0.0098,-0.60636 0.036,-0.9085 0.03784,-0.43064 0.105381,-0.86133 0.09608,-1.29411 0,0 1.739583,-0.88636 1.739583,-0.88636 z"
                                                                                                                                 inkscape:connector-curvature="0" /></g>
</svg>
    </div>
</div>